@using HayvanDostu.MVC.Models
@using HayvanDostu.Model
@model PetListModel
@{
    ViewBag.Title = "MyPetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="images/bg/bg6.jpg">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">EVCİL Hayvanlarınız</h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
  

    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered tbl-shopping-cart">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Fotoğraf :</th>
                                        <th>Adı :</th>
                                        <th>Cinsi :</th>
                                        <th>Türü :</th>
                                        <th>Doğum Tarihi :</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Pet item in Model.Pets)
                                    {
                                        if (item.IndividualID == Convert.ToInt32(Session["personalID"]))
                                        {

                                            <tr class="cart_item">
                                                <td>

                                                    @*<a class="btn btn-default btn-xs btn-add-to-cart" href="/Personal/PetDelete/@item.ID">Sil</a>*@

                                                </td>

                                                <td class="product-thumbnail"><a href="#"><img alt="member" src="@item.Image" width="255" height="194"></a></td>
                                                <td class="product-name">
                                                    <a href="#">@item.Name</a>

                                                </td>
                                                <td class="product-price"><span class="amount">@item.PetType</span></td>
                                                <td class="product-price"><span class="amount">@item.PetKind</span></td>
                                                <td class="product-subtotal"><span class="amount">@item.BirthDate</span></td>
                                                <td>

                                                    <a style="font-size:15px" class="btn btn-default btn-xs btn-add-to-cart" href="/Personal/PetProfileUpdate/@item.ID">Düzenle</a>
                                                    <span></span>



                                                </td>
                                                <td> <button style="font-size:15px; background-color:firebrick;color:aliceblue" type="submit" class="btn btn-default btn-xs btn-add-to-cart btnDelete" data-id="@item.ID">Sil</button></td>
                                            </tr>
                                        }

                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
</div>
@section scripts{
    <script>
        $(".btnDelete").click(function () {
            var id = $(this).attr("data-id");

            $.ajax({
                url: "/Personal/PetDelete/" + id,
                type: "POST",
                data: { "id": id },
                success: function (response) {
                    if (response == "ok") {
                        alert("Başarıyla silindi");
                        window.location.reload();
                    }
                    else {
                        alert("Silerken hata oluştu.");
                    }
                }
            });
        });

    </script>
}
