@using HayvanDostu.MVC.Models
@using HayvanDostu.Model
@model PetListModel
@{
    ViewBag.Title = "PetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="~/Content/images/bg/bg6.jpg">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">SAHİPLENDİRİLMEYİ BEKLEYEN EVCİL HAYVANLAR</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="products">
                            <div class="row multi-row-clearfix">
                                @foreach (Pet item in Model.Pets)
                                {

                                <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <img style="border-radius:50%" alt="" src="@item.Image" class="img-responsive img-fullwidth">
                                            <div class="overlay"></div>
                                        </div>
                                        <div class="product-details text-center">
                                            <a href="#"><h5 class="product-title">@item.Name</h5></a>
                                            <label>@item.PetKind</label>
                                            <p>@item.PetType</p>
                                            <div class="price"><ins><span class="amount">@item.BirthDate</span></ins></div>
                                            <div class="btn-add-to-cart-wrapper">
                                                <a class="btn btn-default btn-xs btn-add-to-cart" href="/Personal/PetProfil/@item.ID">Profili Gör</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <nav>
                                        <ul class="pagination theme-colored">
                                            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">...</a></li>
                                            <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

