
@model Personal
@{
    ViewBag.Title = "Profil";
}

<div class="container">
    <div class="span3 well">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
            <h3>@Model.FirstName</h3>
        </center>
    </div>
</div>
<div class="container">
    <div class="span3 well">
        <span><strong>Adı:</strong>@Model.FirstName</span>
        <br />
        <span><strong>Soyadı:</strong>@Model.LastName</span>
        <div>
            <strong>İletişim Bilgileri:</strong>@Model.EMail
            <strong
        </div>
        <div>
            <strong>Hayvanı Var Mı:</strong>
            @if (Model.HaveAPet)
            {
                <td>Evet</td>
            }
            else
            {
                <td>Hayır</td>
            }
        </div>
        <div><strong>Kaç Tane Hayvanı Var:</strong>@Model.PetCount </div>
        <span><strong>Adresi:</strong>@Model.Address</span>
        <br />
        <span><strong>Tel:</strong>@Model.Phone</span>
        <br />
        @if (Model.ID == Convert.ToInt32(Session["personalID"]))
        {

            @Html.ActionLink("Profil düzenle", "ProfilUpdate", new { id = Model.ID }, new { @class = "btn btn-primary" })
            <br />
            <br />
            @*@Html.ActionLink("Evcil Hayvanlarım", "MyPetList", new { @class = "btn btn-primary" })*@
            <a class="btn btn-primary" href="/PersonalProfil/MyPetList">Evcil Hayvanlarım</a>

        }



    </div>
</div>


